<div class="container container-principal">
  <div class="text-center">
    <h2>Liste des inscriptions</h2>
    <h4>de la plus récente à la plus ancienne</h4>
  </div>
  <div>
    <% @registrations_by_tournaments.each do |registration| %>
      <li><%= registration.updated_at.strftime("%d / %m / %Y ")%> / <%= registration.player.last_name %> '/' <%= registration.tournament.city %>   </li>
    <% end %>
  </div>
</div>
